{% extends 'base.html.twig' %}

{% block title %}Externatic
{% endblock %}
{% block body %}

	<main class="mb-5">

		<div class="homeImage home justify-content-center align-items-center float-xxl-start float-xxl-none">
			<h1 class="mainTitle d-flex justify-content-center text-white text-center mb-4 mt-0 pt-5">
				Cherchez votre nouvel emploi
			</h1>


			<div class="row justify-content-center mb-4 cleanSize animate__animated animate__fadeIn">
				<div class="col-11 col-md-10 col-lg-9 col-xxl-8 row justify-content-center pe-0">

					<form action="{{ path('app_offer_list') }}" method="post" id="form">
						<div class="form-row formSearchMobile ms-4 mb-sm-0">
							<div class="row">
								<div class="form-group col-md-5 p-0 cleanSearchInput">
									<label for="inputSearch" class="text-white">Mots-clés</label>
									<input type="text" name="search" class="form-control" placeholder="Ex : Développeur">
								</div>
								<div class="form-group col-md-5 p-0 cleanSearchInput">
									<label for="city" class="text-white">Votre ville :</label>
									<input type="text" id="city" name="city" list="cities" class="form-control" placeholder="Ex : Rennes (35)">
									<datalist id="cities"></datalist>
								</div>
								<div class="form-group col-md-2 p-0">
									<button type="submit" id="submit-button" value="Search" class="btn text-white rounded-0 buttonSearchOffer mb-5">Rechercher</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>


		</div>

		<div class="offerContainer animate__animated animate__fadeIn animate__slow">
			{% for offer in offers %}
				<div class="row justify-content-center homeOffer ps-1">
					<div class="offerListing">
						<a href="{{ path('app_offer_show', {'id': offer.id}) }}" class="offer-link">
							<div class="offer card d-flex flex-row justify-content-between">
								<div class="col-11">
									<div class="offer-body card-body">
										<p class="offer-text">
											{{ offer.title }}
											-
											{{offer.contract.type}}
											({{offer.city}})
										</p>
									</div>
								</div>
								<div class="col-1 offer-more d-flex justify-content-center align-items-center">
									<div>

										<svg xmlns="http://www.w3.org/2000/svg" class="logo-offer-more bi bi-plus" viewbox="0 0 16 16">
											<path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"></path>
										</svg>
									</div>
								</div>
							</div>
						</a>
					</div>
				</div>
			{% endfor %}
		</div>

		<div class="btn-inscription d-flex justify-content-center m-1">
			<a href="{{ path('app_offer_list') }}" class="btn rounded-0">Voir toutes nos offres</a>
		</div>

		{% if not app.user %}
			<div class="title">
				<div class="inscription d-flex justify-content-center mt-3 text-center">
					<h2 class="homeH2 ">
						Vous souhaitez postuler
						<span class="offerTitle text-center-md">à une offre ?</span>
					</h2>
				</div>
				<div class="btn-inscription d-flex justify-content-center m-1 mb-5">
					<a href="{{ path('app_register') }}" class="btn rounded-0">Inscrivez-vous</a>
				</div>
			</div>
		{% endif %}

	</main>

{% endblock %}
