{% extends 'base.html.twig' %}

{% block title %}Externatic
{% endblock %}
{% block body %}
	<div class="homeImage home justify-content-center align-items-center float-xxl-start float-xxl-none">
		<h1 class="mainTitle d-flex justify-content-center text-white text-center mb-4 mt-0 pt-5">
			Cherchez votre nouvel emploi
		</h1>
		<form action="{{ path('app_offer_list') }}" method="post" class="d-none d-lg-block mt-3 mb-4">
			<div class="form-row formSearchOffer">
				<div class="form-group col-md-6 searchOffer">
					<label for="inputSearch" class="text-white">Mots-clés</label>
					<input type="text" name="search" class="form-control" placeholder="Développeur">
				</div>
				<div class="form-group col-md-6 searchOffer">
					<label for="inputLocation" class="text-white">Lieu</label>
					<input type="text" class="form-control" placeholder="Rennes">
				</div>
				<div class="form-group col-md-6 searchOffer">
					<label for="inputLocationRadius" class="text-white">Distance</label>
					<input type="text" class="form-control" placeholder="5km">
				</div>
				<button type="submit" class="btn text-white rounded-0 buttonSearchOffer">Rechercher</button>
			</div>
		</form>
	</div>
	<div class="offerContainer">
		{% for offer in offers %}
			<div class="row justify-content-center homeOffer ps-1">
				<div class="offerListing">
					<a href="{{ path('app_offer_show', {'id': offer.id}) }}" class="offer-link">
						<div class="offer card d-flex flex-row justify-content-between">
							<div class="col-11">
								<div class="offer-body card-body">
									<p class="offer-text">
										{{ offer.title }}
										-
										{{offer.contract.type}}
										({{offer.city}})
									</p>
								</div>
							</div>
							<div class="col-1 offer-more d-flex justify-content-center align-items-center">
								<div>

									<svg xmlns="http://www.w3.org/2000/svg" class="logo-offer-more bi bi-plus" viewbox="0 0 16 16">
										<path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"></path>
									</svg>
								</div>
							</div>
						</div>
					</a>
				</div>
			</div>
		{% endfor %}
	</div>

	<div class="btn-inscription d-flex justify-content-center m-1">
		<a href="{{ path('app_offer_list') }}" class="btn rounded-0">Voir toutes nos offres</a>
	</div>

	<div class="title">
		<div class="inscription d-flex justify-content-center mt-3 text-center">
			<h2 class="homeH2 ">
				Vous souhaitez postuler
				<span class="offerTitle text-center-md">à une offre ?</span>
			</h2>
		</div>
		<div class="btn-inscription d-flex justify-content-center m-1 mb-5">
			<a href="{{ path('app_register') }}" class="btn rounded-0">Inscrivez-vous</a>
		</div>
	</div>
{% endblock %}
