{# templates/registration/register.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Inscrire un utilisateur
{% endblock %}
{% block body %}
	<main class="mainSection mb-5">
		<div class="w-100 mt-5 animate__animated animate__fadeIn">
			<div class="loginForm m-auto">
				<h2 class="text-black mt-0 mb-4 text-center">Ajouter un utilisateur</h2>

				{{ form_start(registrationForm, {'attr': {'class': 'd-flex flex-column'}}) }}
				{{ form_row(registrationForm.email, {'attr': {'class': 'p-1'}}) }}
				{{ form_row(registrationForm.plainPassword, {'attr': {'class': 'p-1'}}) }}
				{{ form_row(registrationForm.plainPassword2, {'attr': {'class': 'p-1'}}) }}
				{{ form_row(registrationForm.roles, {'attr': {'class': 'p-1'}}) }}
				{% if errors is defined %}
					<div class="invalid-feedback d-block">Veuillez modifier votre mot de passe :</div>
					<ul class="list-unstyled">
						{% for error in errors %}
							<li class="invalid-feedback d-block">
								{{ error }}
							</li>
						{% endfor %}
					</ul>
				{% endif %}
				<button type="submit">Ajouter</button>
				{{ form_end(registrationForm) }}
				{% if app.user %}
					{% else %}
						<p class="text-center">
							<a href="{{ path('app_login') }}">Se connecter</a>
						</p>
				{% endif %}
			</div>
		</div>
	</main>
{% endblock %}
