{# templates/registration/register.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}S'inscrire
{% endblock %}

{% block styleBody %}class="background-login" style="background-image: url('{{ asset('build/images/Groupe105.png') }}')"
{% endblock %}

{% block body %}
	<main class="mainSection">
		<div class="w-100 mt-5">
			<div class="loginForm m-auto">
				{% if is_granted("ROLE_ADMIN")%}
					<h2 class="text-black mt-0 mb-4 text-center">Ajouter un candidat</h2>
				{% else %}
					<h2 class="text-black mt-0 mb-4 text-center">S'inscrire</h2>
				{% endif %}
				{{ form_start(registrationForm, {'attr': {'class': 'd-flex flex-column'}}) }}
				{{ form_row(registrationForm.email, {'attr': {'class': 'p-1'}}) }}
				{{ form_row(registrationForm.plainPassword, {'attr': {'class': 'p-1'}}) }}
				{{ form_row(registrationForm.plainPassword2, {'attr': {'class': 'p-1'}}) }}
				{% if errors is defined %}
					<div class="invalid-feedback d-block">Veuillez modifier votre mot de passe :</div>
					<ul class="list-unstyled">
						{% for error in errors %}
							<li class="invalid-feedback d-block">
								{{ error }}
							</li>
						{% endfor %}
					</ul>
				{% endif %}
				{% if is_granted("ROLE_ADMIN")%}
					<button type="submit">Ajouter</button>
				{% else %}
					<button type="submit">Je m'inscris</button>
				{% endif %}
				{{ form_end(registrationForm) }}
				{% if app.user %}
					{% else %}
						<p class="mb-0 mt-5 fw-bold text-center">Vous avez déjà un compte ?</p>
						<p class="text-center">
							<a href="{{ path('app_login') }}">Se connecter</a>
						</p>
				{% endif %}
			</div>
		</div>
	</main>
{% endblock %}
