{{ form_start(form, {'attr': {'class': 'd-flex flex-column'}}) }}
{{ form_errors(form) }}

{% if offer.open != null and offer.open == true %}
	<div class="mb-3">
		<label for="closedOffer" class="form-label">Statut de l'offre</label>
		<select name="closedOffer" id="closedOffer" class="form-control">
			<option selected value="true">En cours</option>
			<option value="false">Terminée</option>
		</select>
	</div>
{% endif %}

{{ form_row(form.title) }}
{{ form_row(form.address) }}
{{ form_row(form.addressComplement) }}
{{ form_row(form.postalCode) }}
{{ form_row(form.city) }}
{{ form_row(form.contract) }}
{{ form_row(form.workField) }}
{{ form_row(form.stack) }}
{% if noStacks is defined %}
	<div class="invalid-feedback d-block">{{ noStacks }}</div>
{% endif %}
{{ form_row(form.description) }}
<button>{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
