{{ form_start(form, {'attr': {'class': 'd-flex flex-column'}}) }}
{{ form_errors(form) }}
{{ form_row(form.open) }}
{{ form_row(form.title) }}

{% if offer.address is not null %}
	{{ form_row(form.address, { value : offer.address }) }}
	{{ form_row(form.addressComplement, { value : offer.addressComplement }) }}
	{{ form_row(form.postalCode, { value : offer.postalCode }) }}
	{{ form_row(form.city, { value : offer.city }) }}
{% elseif recruiter is defined %}
	{{ form_row(form.address, { value : recruiter.address }) }}
	{{ form_row(form.addressComplement, { value : recruiter.addressComplement }) }}
	{{ form_row(form.postalCode, { value : recruiter.postalCode }) }}
	{{ form_row(form.city, { value : recruiter.city }) }}
{% else %}
	{{ form_row(form.address) }}
	{{ form_row(form.addressComplement) }}
	{{ form_row(form.postalCode) }}
	{{ form_row(form.city) }}
{% endif %}

{{ form_row(form.contract) }}
{{ form_row(form.workField) }}
{{ form_row(form.stack) }}
{% if noStacks is defined %}
	<div class="invalid-feedback d-block">{{ noStacks }}</div>
{% endif %}
{{ form_row(form.description) }}
<button>{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
