{{ form_start(form) }}
{% if offer.recruiter is not null %}
	{{ form_row(form.partner, { value : offer.recruiter.partner.id }) }}
{% endif %}

{{ form_widget(form) }}
<button>{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
