{% extends 'base.html.twig' %}

{% block title %}Offer index
{% endblock %}

{% block body %}

	<main class="container mb-5">

		<h1 class="text-center">Toutes nos offres</h1>

		<div class="row justify-content-center mb-4">
			<div class="col-11 col-md-10 col-lg-9 col-xxl-8 row justify-content-center pe-0">

				<form action="{{ path('app_offer_list') }}" method="post" id="form">
					<div class="form-row formSearchMobile">
						<div class="row">
							<div class="form-group col-md-5 p-0 cleanSearchInput">
								<label for="inputSearch">Mots-clés</label>
								<input type="text" name="search" class="form-control" placeholder="Ex : Développeur">
							</div>
							<div class="form-group col-md-5 p-0 cleanSearchInput">
								<label for="city">Votre ville :</label>
								<input type="text" id="city" name="city" list="cities" class="form-control" placeholder="Ex : Rennes (35)">
								<datalist id="cities"></datalist>
							</div>
							<div class="form-group col-md-2 p-0">
								<button type="submit" id="submit-button" value="Search" class="btn text-white rounded-0 buttonSearchOffer">Rechercher</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>

		{% for offer in offers %}
			<div class="row justify-content-center" id="display">
				<div class="col-11 col-md-10 col-lg-9 col-xxl-8">
					<a href="{{ path('app_offer_show', {'id': offer.id}) }}" class="offer-link">
						<div class="offer card d-flex flex-row justify-content-between">
							<div class="col-11">
								<div class="offer-body card-body">
									<p class="offer-text">
										{{ offer.title }}
										-
										{{offer.contract.type}}
										({{offer.city}})
									</p>
								</div>
							</div>
							<div class="offer-more col-1 d-flex justify-content-center align-items-center">
								<div>

									<svg xmlns="http://www.w3.org/2000/svg" class="logo-offer-more bi bi-plus" viewbox="0 0 16 16">
										<path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"></path>
									</svg>
								</div>
							</div>
						</div>
					</a>
				</div>
			</div>

		{% else %}

			<h3 class="NoOffer">Pas d'offres disponibles pour cette recherche</h3>
		{% endfor %}
	</main>
{% endblock %}
