{% extends 'base.html.twig' %}

{% block title %}Offer
{% endblock %}

{% block body %}
	{% if offer.open == false %}
		<div class="bg-darkGrey text-center p-2 w-100" id="offerClosed">Cette offre n'est plus en ligne</div>
	{% endif %}
	<main class="container px-4">
		<div class="d-flex flex-column align-items-center">
			<h1 class="text-center text-break">{{ offer.title }}</h1>
			<p class="offer-text-details">
				{{ offer.contract.type }}
				/
				{{ offer.city }}
				/ offre publiée le
				{{ offer.publicationDate|date("d/m/Y") }}</p>
			<p class="offer-text-details mb-1">{{offer.recruiter.partner.name}}
				/ offre gérée par
				{{offer.recruiter.fullname}}</p>
			{% if is_granted("ROLE_ADMIN") or (app.user and app.user.recruiter == offer.recruiter) %}
				<div class="m-auto">
					<div class="d-flex flex-row">
						<div class="pink-circle">
							<a href="{{ path('app_offer_index') }}">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="logo-admin bi bi-arrow-return-left" viewbox="0 0 16 16">
									<path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z"></path>
								</svg>
							</a>
						</div>
						<div class="pink-circle">
							{% if is_granted("ROLE_ADMIN") %}
								<a href="{{ path('app_offer_edit', {'id': offer.id}) }}">
								{% else %}
									<a href="{{ path('app_offer_edit_recruiter', {'id': offer.id}) }}">
									{% endif %}
									<svg xmlns="http://www.w3.org/2000/svg" class="logo-admin bi bi-vector-pen" viewbox="0 0 16 16">
										<path fill-rule="evenodd" d="M10.646.646a.5.5 0 0 1 .708 0l4 4a.5.5 0 0 1 0 .708l-1.902 1.902-.829 3.313a1.5 1.5 0 0 1-1.024 1.073L1.254 14.746 4.358 4.4A1.5 1.5 0 0 1 5.43 3.377l3.313-.828L10.646.646zm-1.8 2.908-3.173.793a.5.5 0 0 0-.358.342l-2.57 8.565 8.567-2.57a.5.5 0 0 0 .34-.357l.794-3.174-3.6-3.6z"></path>
										<path fill-rule="evenodd" d="M2.832 13.228 8 9a1 1 0 1 0-1-1l-4.228 5.168-.026.086.086-.026z"></path>
									</svg>
								</a>
							</div>
							{% if is_granted('ROLE_ADMIN') %}
								<div>
									{{ include('offer/_delete_form.html.twig') }}
								</div>
							{% endif %}
						</div>
					</div>
				{% elseif is_granted('ROLE_RECRUITER') == false %}
					{% if candidacy is defined %}
						<p class="mt-3 fw-bold text-decoration-underline text-mainPink">Vous avez postulé à cette offre le
							{{candidacy.candidacyDate|date('d/m/Y') }}
						</p>
					{% else %}
						<div class="d-none d-sm-flex flex-column align-items-center">
							<a href="{{ path('app_candidacy_new', {'id': offer.id}) }}" class="link-admin" role="button" aria-pressed="true">Postuler</a>
						</div>
					{% endif %}

				{% endif %}
			</div>

			<h2 class="mt-4 text-black">L'offre</h2>

			<div>
				{{ offer.description|raw }}
			</div>

			<h2 class="text-black mt-3 ">
				{% if is_granted("ROLE_ADMIN")%}Le{% else %}Votre
				{% endif %}
				contact pour ce job</h2>
			<div class="mb-4 d-flex flex-column">
				<img id="recruiterLogo" src="{{ asset('build/images/recruteurLoop.png') }}">
				<h5 class="fw-bold mt-2">{{ offer.recruiter.fullname }}</h5>
				<div class="fw-bold">{{ offer.recruiter.position }}</div>
				<div>Tel :
					{{ offer.recruiter.phone }}</div>
				<div>Mail :
					{{ offer.recruiter.user.email }}</div>
			</div>

			{% if is_granted("ROLE_ADMIN") or app.user.recruiter == offer.recruiter %}
				<h2 id="candidacies" class="mt-4 text-black">Les candidatures</h2>

				<table class="table candidacyTable mt-3 d-none d-md-table">
					<colgroup>
						<col span="1" style="width: 33%;">
						<col span="1" style="width: 33%;">
						<col span="1" style="width: 33%;">

					</colgroup>
					<thead>
						<tr>
							<th>Nom du candidat</th>
							<th>Date de candidature</th>
							<th>Statut</th>
						</tr>
					</thead>
					<tbody>
						{% for candidacy in offer.candidacies %}
							<tr id="candidacy{{candidacy.id}}" class="{% if candidacy.status.status == "Refusée" %} bg-darkGrey {% elseif candidacy.status.status == "Acceptée" %} bg-lightPink {% endif %}">
								<td>
									<a href="{{ path('app_candidate_admin_show', {'id': candidacy.candidate.id }) }}">{{ candidacy.candidate.fullname}}</a>
								</td>
								<td>{{ candidacy.candidacyDate ? candidacy.candidacyDate|date('Y/m/d') : '' }}</td>
								<td>
									<form method="post">
										<input type="hidden" name="_token" value="{{ csrf_token('update' ~ candidacy.id) }}">
										<select name="{{candidacy.id}}" id="selectStatus" class="selectStatusCandidacy fw-bold px-0">
											<option {% if candidacy.status.status == "Nouvelle" %} selected {% endif %} value="Nouvelle">Nouvelle</option>
											<option {% if candidacy.status.status == "Acceptée" %} selected {% endif %} value="Acceptée">Acceptée</option>
											<option {% if candidacy.status.status == "Refusée" %} selected {% endif %} value="Refusée">Refusée</option>
										</select>
									</form>
								</td>
							</tr>
						{% else %}
							<tr>
								<td colspan="3">
									<h3 class="NoOffer d-none d-md-block">Pas de candidature trouvée</h3>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>

				<div class="d-md-none justify-content-center">
					{% for candidacy in offer.candidacies %}
						<div class="card offer d-flex flex-row justify-content-between textCandidacies">
							<div class="col-11">
								<div id="candidacyMobile{{candidacy.id}}" class="offer-body card-body text-black fw-bold {% if candidacy.status.status == 'Refusée' %} bg-darkGrey {% elseif candidacy.status.status == 'Acceptée' %} bg-lightPink {% endif %}">
									<div class="mb-2">
										<a href="{{ path('app_offer_show', {'id': candidacy.offer.id}) }}">
											{{ candidacy.offer.title }}
										</a>
									</div>
									<div>
										<a href="{{ path('app_candidate_admin_show', {'id': candidacy.candidate.id }) }}">
											{{ candidacy.candidate.fullname}}
										</a>
									</div>
									<div>{{ candidacy.candidacyDate ? candidacy.candidacyDate|date('d/m/Y') : '' }}</div>
									<div class="align-content-end">
										<form method="post">
											<input type="hidden" name="_token" value="{{ csrf_token('update' ~ candidacy.id) }}">
											<select name="{{candidacy.id}}" id="selectStatusMobile" class="selectStatusCandidacy fw-bold px-0">
												<option {% if candidacy.status.status == "Nouvelle" %} selected {% endif %} value="Nouvelle">Nouvelle</option>
												<option {% if candidacy.status.status == "Acceptée" %} selected {% endif %} value="Acceptée">Acceptée</option>
												<option {% if candidacy.status.status == "Refusée" %} selected {% endif %} value="Refusée">Refusée</option>
											</select>
										</form>
									</div>
								</div>
							</div>
							<div class="offer-more col-1 d-flex justify-content-center align-items-center">
								<div>
									<a href="{{ path('app_offer_show', {'id': candidacy.offer.id}) }}">
										<svg xmlns="http://www.w3.org/2000/svg" class="logo-offer-more bi bi-plus" viewbox="0 0 16 16">
											<path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"></path>
										</svg>
									</a>
								</div>
							</div>
						</div>
					{% else %}
						<h3 class="NoOffer d-md-none">Pas de candidature trouvée</h3>
					{% endfor %}
				</div>
			{% endif %}
		</main>
		{% if is_granted("ROLE_EDITOR") == false %}
			<div class="d-flex d-md-none flex-column align-items-center fixed-bottom mb-5 applyMobile">
				<a href="{{ path('app_candidacy_new', {'id': offer.id}) }}" class="link-admin w-50" role="button" aria-pressed="true">Postuler</a>
			</div>
		{% endif %}
	{% endblock %}
