<div class="footer border-0  d-none d-md-block">
	<div class="row d-flex justify-content-around mt-1 mb-1">
		<div class="col-sm-4 d-flex  justify-content-center">
			<div class="card-footer border-0 my-2 ms-4">
				<div class="card-footer text-white footerExternatic">
					<h5 class="card-title titleFooter">Externatic, cabinet de recrutement informatique</h5>
					<p class="card-text textFooter">Externatic c’est un cabinet de recrutement informatique et de conseil RH qui répond aux vrais besoins de vraies personnes..</p>
				</div>
			</div>
		</div>
		<div class="col-sm-4 d-flex justify-content-center mt-1 mb-1">
			<div class="card-footer border-0">
				<div class="card-footer text-white ">
					<h5 class="card-title titleFooter">Contact</h5>
					<p class="card-text textFooter">Tél :
						<a href="tel:+33285522633" class="text-white">+33 (0)2 85 52 26 33</a>
						<br>Mail :
						<a href="mailto:contact@externatic.fr" class="text-white">contact@externatic.fr</a>
						<br>
						Adresse : 1 rue Racine,
						<br>44000 NANTES – France.</p>
				</div>
			</div>
		</div>
		<div class="col-sm-4 d-flex justify-content-center">
			<div class="card-footer border-0 mt-1 mb-1">
				<div class="card-footer text-white">
					<h5 class="card-title titleFooter">Réseau</h5>
					<a href="https://www.linkedin.com/company/externatic/?originalSubdomain=fr" target="_blank"><img src="{{ asset('build/images/logoLinkedin.png') }}" class="m-1  mt-3" alt="linkedin"/></a>
					<a href="https://twitter.com/Externatic" target="_blank"><img src="{{ asset('build/images/logotwitter.png') }}" class="m-1 mt-3" alt="twitter"/></a>
					<a href="https://www.instagram.com/externatic/" target="_blank"><img src="{{ asset('build/images/logoInstagram.png') }}" class="m-1  mt-3" alt="instagram"/></a>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="footer border-0  d-md-none">
	<div class="row d-flex mt-1 mb-1">
		<div class="col-sm-4 d-flex ">
			<div class="card-footer border-0 my-2 ms-4">
				<div class="card-footer text-white footerExternatic">
					<h5 class="card-title titleFooter">Externatic, cabinet de recrutement informatique</h5>
					<p class="card-text textFooter">Externatic c’est un cabinet de recrutement informatique et de conseil RH qui répond aux vrais besoins de vraies personnes..</p>
				</div>
			</div>
		</div>
		<div class="col-sm-4 d-flex mt-3 mb-1">
			<div class="card-footer border-0 ms-4">
				<div class="card-footer text-white ">
					<h5 class="card-title titleFooter jost">Contact</h5>
					<a href="tel:+33285522633" class="text-white jost">+33 (0)2 85 52 26 33</a>
					<br><p class="jost">Mail :</p>
					<a href="mailto:contact@externatic.fr" class="text-white jost">contact@externatic.fr</a>
					<br>
					<p class="jost">
						Adresse : 1 rue Racine,
						<br>44000 NANTES – France.</p>
				</div>
			</div>
		</div>
		<div class="col-sm-4 d-flex">
			<div class="card-footer border-0 mt-3 mb-1 ms-4">
				<div class="card-footer text-white">
					<h5 class="card-title titleFooter">Réseau</h5>
					<a href="https://www.linkedin.com/company/externatic/?originalSubdomain=fr" target="_blank"><img src="{{ asset('build/images/logoLinkedin.png') }}" class="m-1  mt-3" alt="linkedin"/></a>
					<a href="https://twitter.com/Externatic" target="_blank"><img src="{{ asset('build/images/logotwitter.png') }}" class="m-1 mt-3" alt="twitter"/></a>
					<a href="https://www.instagram.com/externatic/" target="_blank"><img src="{{ asset('build/images/logoInstagram.png') }}" class="m-1  mt-3" alt="instagram"/></a>
				</div>
			</div>
		</div>
	</div>
</div>
