<nav class="navbar navbar-expand-lg nav">
	<div class="container-fluid d-flex flex-reverse-row">
		<div class="container-fluid d-flex justify-content-center align-items-center">
			<div class="d-none d-md-block navDiv">
				<a class="d-flex align-items-center mt-2 h5 text-decoration-none textMenu justify-content-center" href="{{ path('app_offer_list') }}">Rechercher une offre</a>
			</div>
			<div class="navDiv">
				<a class="navbar-brand d-none d-md-block me-0" href="{{ path('app_home') }}">
					<img src="{{ asset('build/images/Logo-Externatic.png') }}" class="logo d-flex align-items-center" alt="">
				</a>
				<a class="navbar-brand d-md-none me-0" href="{{ path('app_home') }}">
					<img src="{{ asset('build/images/Logo-Externatic.png') }}" class="logoMobile d-flex align-items-center" alt="">
				</a>
			</div>

			{% if app.user %}
				<div class="d-flex flex-row align-items-center navDiv">
					<div class="avatar d-none d-md-block">
						{% if is_granted("ROLE_CANDIDATE")%}
							<a title="Mon espace" href="{{ path('app_candidate_new') }}">
								<img src="{{ asset('build/images/noun-profile.png') }}" class="avatar d-flex w-50 h-50 me-2" alt="">
							</a>
						{% elseif is_granted("ROLE_ADMIN")%}
							<a title="Espace Admin" href="{{ path('app_offer_index') }}">
								<img src="{{ asset('build/images/noun-profile.png') }}" class="avatar d-flex w-50 h-50 me-2" alt="">
							</a>
						{% else %}
							<a title="Espace recruteur" href="{{ path('app_offer_index_recruiter') }}">
								<img src="{{ asset('build/images/noun-profile.png') }}" class="avatar d-flex w-50 h-50 me-2" alt="">
							</a>
						{% endif %}
					</div>

					<div class="avatar d-none d-md-block">
						<a title="Déconnexion" href="{{ path('app_logout') }}">
							<img src="{{ asset('build/images/logout1.png') }}" class="avatar d-flex w-50 h-50 me-2" alt="">
						</a>
					</div>
				</div>
			{% else %}
				<div class="d-none d-md-flex flex-direction-row align-items-center navDiv">
					<a title="Connexion" href="{{ path('app_login') }}">Se connecter</a>
					<a class="nav-link" href="{{ path('app_register') }}">S'inscrire</a>
				</div>


			{% endif %}
			<button class="navbar-toggler d-md-none mb-3 ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
		</div>
		<div class="navbar-collapse collapse" id="navbarNav">
			<ul class="navbar-nav d-md-none">
				<li class="nav-item textMenu ps-4">
					<a class="nav-link active" aria-current="page" href="{{ path('app_home') }}">Accueil</a>
				</li>
				<li class="nav-item textMenu ps-4">
					<a class="nav-link" href="{{ path('app_offer_list') }}">Rechercher une offre</a>
				</li>
				{% if app.user %}
					{% if is_granted("ROLE_CANDIDATE")%}
						<li class="nav-item textMenu ps-4">
							<a class="nav-link" href="{{ path('app_candidate_new') }}">Mon profil</a>
						</li>
					{% elseif is_granted("ROLE_ADMIN")%}
						<li class="nav-item textMenu ps-4">
							<a class="nav-link" href="{{ path('app_offer_index') }}">Espace admin</a>
						</li>
					{% endif %}
					<li class="nav-item textMenu ps-4">
						<a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
					</li>
				{% else %}
					<li class="nav-item textMenu ps-4">
						<a class="nav-link" href="{{ path('app_login') }}">Se connecter</a>
					</li>
					<li class="nav-item textMenu ps-4">
						<a class="nav-link" href="{{ path('app_register') }}">S'inscrire</a>
					</li>
				{% endif %}
			</ul>
		</div>
	</nav>
