{% extends 'base.html.twig' %}

{% block title %}Mes informations
{% endblock %}

{% block body %}
	<main class="mainSection mb-5">
		<div class="mainForm">
			{% if is_granted("ROLE_ADMIN")%}
				<h1 class="text-center">Informations du candidat</h1>
			{% else %}
				<h1 class="text-center">Mes informations</h1>
			{% endif %}
			{{ form_start(form, {'attr': {'class': 'd-flex flex-column'}})}}
			{% if candidate.picture %}
				{{ form_label(form.pictureFile)}}
				<div id="storedPicture" style="display: block;">
					<table class="text-center">
						<tr>
							<td colspan="3">
								<img class="candidate-picture rounded-circle" src="{{ asset('uploads/candidate/picture/' ~ candidate.picture) }}" alt="{{ candidate.firstname }} {{ candidate.lastname }}">
							</td>
						</tr>
						<tr>
							<td>
								<a title="Supprimer" class="m-0" onclick="window.location.href='{{ path('app_candidate_picture_delete') }}';">Supprimer</a>
							</td>
							<td>|</td>
							<td>
								<a title="Remplacer" class="replace-picture-link m-0" onclick="javascript:void(0)">Remplacer</a>
							</td>
						</tr>
					</table>
				</div>
				<div id="pictureUploader" style="display:none;">
					<div>
						<a title="Annuler" class="keep-picture-link m-0" onclick="javascript:void(0)">Conserver ma photo actuelle</a>
					</div>
					{{ form_widget(form.pictureFile, {'attr': {'class': 'mb-3'}})}}
				</div>
			{% else %}
				{{ form_label(form.pictureFile)}}
				{{ form_widget(form.pictureFile, {'attr': {'class': 'mb-3'}})}}
			{% endif %}
			{{ form_row(form.gender)}}
			{{ form_row(form.firstname)}}
			{{ form_row(form.lastname)}}
			{{ form_row(form.birthday)}}
			{{ form_row(form.phone)}}
			{{ form_row(form.address)}}
			{{ form_row(form.addressComplement)}}
			{{ form_row(form.postalCode)}}
			{{ form_row(form.city)}}
			{{ form_row(form.contractSearched, {'attr': {'class': 'd-flex flex-row flex-wrap justify-content-evenly'}})}}
			{% if noContractSearched is defined %}
				<div class="invalid-feedback d-block">{{ noContractSearched }}</div>
			{% endif %}
			{{ form_row(form.stacks, {'attr': {'class': 'd-flex flex-row flex-wrap justify-content-evenly'}})}}
			{% if noStacks is defined %}
				<div class="invalid-feedback d-block">{{ noStacks }}</div>
			{% endif %}

			{% if candidate.curriculumVitae %}
				{{ form_label(form.cvFile) }}
				<div id="storedCv" class="table-responsive-sm" style="display: block;">
					<table class="table">
						<tr>
							<td class="align-middle">
								<a class="m-0" target="_blank" title="mon cv" href="{{ asset('uploads/candidate/curriculumVitae/' ~ candidate.curriculumVitae) }}">{{ candidate.curriculumVitae }}</a>
							</td>
							<td class="align-middle">
								<button type="button" title="Supprimer" class="m-0" onclick="window.location.href='{{ path('app_candidate_cv_delete') }}';">
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle m-0" viewbox="0 0 16 16">
										<path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path>
										<path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"></path>
									</svg>
									<span class="visually-hidden">Button</span>

								</button>
							</td>
							<td class="align-middle">
								<button type="button" title="Remplacer" class="replace-file-link m-0" onclick="javascript:void(0)">
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-clockwise m-0" viewbox="0 0 16 16">
										<path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"></path>
										<path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"></path>
									</svg>
									<span class="visually-hidden">Button</span>
								</button>
							</td>
						</tr>
					</table>
				</div>
				<label for="candidate_cvFile_file" class="drop-container" style="display: none;" id="cvUploader">
					<img src="{{ asset('build/images/upload.png') }}" id='uploadLogo'>
					<div class="text-black">Téléverser votre CV</div>
					{{ form_widget(form.cvFile) }}
					<div>
						<a title="annuler" class="keep-file-link mainSection" href="javascript:void(0)">Conserver mon CV actuel</a>
					</div>
				</label>
			{% else %}
				{{ form_label(form.cvFile) }}
				<label for="candidate_cvFile_file" class="drop-container">
					<img src="{{ asset('build/images/upload.png') }}" id='uploadLogo'>
					<div class="text-black">Téléverser votre CV</div>
					{{ form_widget(form.cvFile) }}
				</label>
			{% endif %}
			<button>
				{{ button_label | default('Mettre à jour') }}
			</button>
			{{ form_end(form) }}
		</div>
	</main>
{% endblock %}
